/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    background-color: darkblue;
  }
  
  a {
    color: #149ddd;
    text-decoration: none;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }


/*--------------------------------------------------------------
# Colleges
--------------------------------------------------------------*/
.title h1{
    text-align: center;
    color:white;
    padding-top: 2%;
    font-size: 72px;
}

.colleges-main{
    width:100%;
    height: auto;
    font-size: 18px;
    flex-basis: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .colleges1 , .colleges2 , .colleges3 , .colleges4 , .colleges5 , .colleges6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-basis: 100%;
    font-style: italic; 
    background-color: darkblue;
    border: 10px solid #fff;
    margin-bottom: 1%;
  }

  .colleges1 button, .colleges2 button, .colleges3 button, .colleges4 button, .colleges5 button, .colleges6 button{
    background: none;
    outline: none;
    border: none;
  }
  .colleges1 img, .colleges2 img, .colleges3 img, .colleges4 img, .colleges5 img, .colleges6 img{

    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
    justify-content: space-between;
  }

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }
    .colleges1, .colleges2, .colleges3, .colleges4, .colleges5, .colleges6 {
      flex-basis: 31.3%;
    }
  }

/*--------------------------------------------------------------
# Colleges-info
--------------------------------------------------------------*/
.main{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
}
#main {
  margin-left: 300px;
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: skyblue;
  overflow-y: auto;
}

.fixed img{
  width: 100%;
  height: auto;
  padding-top: 5%;
}
.title-page p{
  font-size: 16px;
  color:white;
 
}

.title-page h1{
  font-size: 50px;
  text-align: center;
  color:white;
}
.title-page h2{
  font-size: 30px;
  color:white;

 
}
.sidebar {
  color: navy;
}

.overview{
  padding-top: 3%;
  padding-bottom: 15%;
}

.nav-menu a, .nav-menu a:focus {
  display: flex;
  color: white;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.nav-menu a, .nav-menu a:hover {
  color: navy;
}

.nav-menu  ul {
  list-style-type:square;
  color: navy;
}
.main button{
  background-color: darkblue;
  border: none;
  font-size: 25px;
}

@media (max-width: 1199px) {
  #header {
   display: none;
  }

  #main {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
	.profile h1 {
		text-align: center !important;
	}
}

